{% extends 'base.html.twig' %}

{% block body %}
<table>
    <tr>
        <th class="sort {{ pager.direction }}">{{ knp_pagination_sortable(pager, 'Name', 'o.name') }} {{ pager.direction }}</th>
        <th>Categories</th>
    </tr>

    {# @var product \App\Entity\Product #}
    {% for product in pager %}
        <tr>
            <td>{{ product }}</td>
            <td>{% for category in product.categories %}{{ category }}{% endfor %}</td>
        </tr>
    {% endfor %}
</table>


    {{ knp_pagination_render(pager) }}
{% endblock %}